
<div id="toolbar"  style="position: relative;top: 10px">
            <button id="button" class="btn btn-default">checkAll</button>
            <button id="button2" class="btn btn-default">uncheckAll</button>
            <button id="button3" class="btn btn-default">Merge Contact</button>

        </div>
<div class="container">
  <h2>All Contacts</h2>
  <div class="table-responsive"  >
  <table id="tblRelation"  data-toggle="table" data-toolbar="#toolbar"  class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Contacts</th>
        <th data-field="Firstname">Firstname</th>
        <th data-field="Lastname">Lastname</th>
        <th data-field="Email">Email</th>
        <th>  Master </th>
        <th colspan="1"> Actions </th>
      </tr>
    </thead>
    <tbody>
      <% @contacts_array.each do |contact| %>
      <tr>
        <td><input type="checkbox" id="merge<%=contact.id %>"  value="<%=contact.id %>" data="<%=contact.id %>" class="contacts_to_merge"></td>
        <td><%=contact.contact_firstname %></td>
        <td><%=contact.contact_lastname %></td>
        <td><%=contact.contact_email %></td>
        <td> <input type="checkbox" data="<%=contact.id %>" class="master_class" value="<%=contact.id %>" id="contact_<%=contact.id%>" name=""></td>
        <td><%= link_to "Move to Master", move_to_master_path(contact) %></td>
        </tr>

      <%end %>

    </tbody>
  </table>
</div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Merging Contact</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to merge these contacts.</p>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-default" data-dismiss="modal" >Close</button>
        <button type="button" id="merger_contact_id" class="btn btn-default" data-dismiss="modal" >Merge</button>
      </div>
    </div>

  </div>
</div>

<script>
  $("#button3").click(function(){

    var checkedVals = $('.contacts_to_merge:checkbox:checked').map(function() {
    return this.value;
}).get();

$('#myModal').modal({
  show: 'true'
});
var contact_ids = checkedVals.join(",")

$('.modal-footer #merger_contact_id').val(contact_ids);

// alert(checkedVals.join(","));

  //   $('input:checkbox.contacts_to_merge').each(function () {
  //      // var sThisVal = (this.checked ? $(this).attr('data') : "");
  //      //  console.log(sThisVal);
  // });
    // console.log("Merge button is clicked");

    // console.log($('.contacts_to_merge:checkbox:checked').attr('data'));
  });

  $('#merger_contact_id').on('click', function(){
    var contact_ids = $(this).val();
    var master_ids = $('.master_class:checkbox:checked').map(function() {
    return this.value;
}).get();
    // contacts_ids = jQuery.makeArray(contact_ids)
    // contact_ids = contact_ids.join(",");
    console.log(contact_ids)
    $.ajax({
                 url: '/contacts/master_update',
                 dataType: 'JSON',
                 method: 'POST',
                 data: {contact_ids: contact_ids, master_ids: master_ids},
                 success: function(data){
                     document.location.reload();
                 },
                 error: function(errorThrown){
                     console.log( errorThrown );
                 }
             });

    //console.log($(this).val())

  });



</script>
