<p id="notice"><%= notice %></p>

<p>
  <strong>Contact firstname:</strong>
  <%= @contact.contact_firstname %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @contact.contact_email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @contact.birthday %>
</p>

<p>
  <strong>Displayname:</strong>
  <%= @contact.displayname %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @contact.initials %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @contact.middlename %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @contact.nickname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @contact.generation %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @contact.companyname %>
</p>

<p>
  <strong>Department:</strong>
  <%= @contact.department %>
</p>

<p>
  <strong>Officelocation:</strong>
  <%= @contact.officelocation %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @contact.profession %>
</p>

<p>
  <strong>Businesshomepage:</strong>
  <%= @contact.businesshomepage %>
</p>

<p>
  <strong>Assistantname:</strong>
  <%= @contact.assistantname %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @contact.manager %>
</p>

<p>
  <strong>Homephones:</strong>
  <%= @contact.homephones %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @contact.mobilephone %>
</p>

<p>
  <strong>Businessphones:</strong>
  <%= @contact.businessphones %>
</p>

<p>
  <strong>Homeaddress:</strong>
  <%= @contact.homeaddress %>
</p>

<p>
  <strong>Businessaddress:</strong>
  <%= @contact.businessaddress %>
</p>

<p>
  <strong>Otheraddress:</strong>
  <%= @contact.otheraddress %>
</p>

<p>
  <strong>Outlook user:</strong>
  <%= @contact.outlook_user_id %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @contact.visibility %>
</p>

<p>
  <strong>Lastmodifieddatetime:</strong>
  <%= @contact.lastmodifieddatetime %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @contact.contact_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
